@tailwind base;
@tailwind components;
@tailwind utilities;

.land {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}
.land-1 {
  grid-column: 1/7;
}
.land-2 {
  grid-column: 5/-1;
}
.land-1,
.land-2 {
  grid-row: 1/2;
}

@media (max-width: 768px) {
  .land {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .land-2 {
    height: 50%;
  }
}

::-webkit-scrollbar {
  display: none;
}

.black-box {
  background-image: url(./assets//sec-2/pattern.png);
  background-repeat: no-repeat;
  background-position: right;
}

.mobile-menu details[open] summary svg {
  rotate: 90deg;
  transition: 0.2s ease;
}

.mobile-menu details a {
  padding: 12px;
}
.mobile-menu details p {
  margin: 10px 0;
  font-weight: 500;
}
.mobile-menu > details,
.mobile-menu > a {
  border-bottom: 1px solid rgb(200, 200, 200);
  padding: 7px 0;
}
